/********************** native elements ***********************/
i{
	color: white;
	padding: 10px;
}

i:hover{
	cursor: pointer;
}

/********************* classes ****************************/

.bg {
	background: url('../images/bg.jpg');
	background-size: cover;
}

.card {
	min-height: 800px;
}

.content{
	height: 70px;
}

.home  {
	color: #ffffff;
	text-transform: capitalize;
	font-size: 50px;
	margin: 0 auto;
	font-family: 'Karla', sans-serif;
}

.home p {
	font-size: 20px;
}

.home #header {
	font-family: 'Courgette', cursive;
}

.round-img{
	height: 500px;
	width: 6000px;
	border-radius: 100px;
	margin-top: 60px;
}

.md-sidenav-left{
	background: url('../images/background2.jpeg');
	background-size: cover;
}

.nav-item {
	padding-top: 15px;
	padding-bottom: 15px;
}

.small-nav {
	min-width: 100px;
	max-width: 100px;
}

.text a{
	color: white;
}

.text a:link {
    text-decoration: none;
}
.projectImage{
	height: 250px;
}


/*********************** ids *****************************/


#contact1{
	background-color: #EEEEEE;
	margin-top: -19px;
	margin-left: -16px;
}
#contact1 p{
	padding-top: 85px;
	text-align: center;
}
#display h2 {
	color: white;
}

#textbox input{
	width: 300px;
	background: #D8D8D8;
	padding-left: 30px;
}

#textbox {
	padding-left: 390px;
	padding-bottom: 75px;
}

#contact2 {
	background-color: #424242;
}

#front div h3, h6{
	text-align: center;
}

#front div h3 {
	margin: 0;
	padding-top: 200px;
}

#front div h6 {
	margin-top: 30px;
}









