<div class="home">

	<div layout="row">
		<div flex="45">
			<h3>
				BLESSING <br>
				ORAZULUME
			</h3>
		</div>

		<div layout="row" layout-align="end center">
				<img src='images/pix.jpg' class='round-img'>
		</div>
	</div>
	<p>"PROGRAMMER, QUIET, ALCOHOLIC"</p>

	
</div>
<span>
<div>
<h3>ABOUT</h3>
	<p>“I'm selfish, impatient and a little insecure. I make mistakes, I am out of control and at times hard to handle. But if you can't handle me at my worst, then you sure as hell don't deserve me at my best.” This life is what you make it. No matter what, you're going to mess up sometimes, it's a universal truth. But the good part is you get to decide how you're going to mess it up. Girls will be your friends - they'll act like it anyway. But just remember, some come, some go. </p>
</div>
</span>