<div class="contactCenter">
  <md-card class="contactBox aboutBoxcontent">
    <h1>Contact </h1>
    <md-card-content>
      <h3>Visitation</h3>
      <p>
        Address : 2/4 Funsho Street, Onike, Yaba, lagos.
      </p>
      <p>
        Time : Sundays(2pm).
      </p>
    </md-card-content>
  </md-card>
</div>
<div class="contactCenter">
  <md-card class="contactBox aboutBoxcontent">
    <md-card-content>
      <h3>Call</h3>
      <p>
        Phone No: 2348035910752.
      </p>
      <p>
        Phone No: 2347086234129.
      </p>
    </md-card-content>
  </md-card>
</div>
<div class="contactCenter">
  <md-card class="contactBox aboutBoxcontent">
    <md-card-content>
      <h3>E-mail</h3>
      <p>
        yetunde.sanni@andela.co.
      </p>
      <p>
        kompletewoman14@gmail.com.
      </p>
    </md-card-content>
  </md-card>
</div>
<div class="contactCenter">
  <md-card class="contactBox aboutBoxcontent">
    <md-card-content>
      <h3>Blog</h3>
      <p>
        www.kompletewoman.com
      </p>
    </md-card-content>
  </md-card>
</div>
