<!DOCTYPE html>
<html>

<head>
  <title>My Portfolio</title>
  <link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="css/portfolio.css">
  <link rel='stylesheet' href='/bower_components/angular-material/angular-material.css'>
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
  <script src='/bower_components/angular/angular.js'></script>
  <script src='/bower_components/angular-route/angular-route.min.js'></script>
  <script src='/bower_components/angular-animate/angular-animate.js'></script>
  <script src='/bower_components/angular-aria/angular-aria.min.js'></script>
  <script src='/bower_components/angular-material/angular-material.min.js'></script>


  <script type="text/javascript" src='scripts/app.js'></script>
  <script type="text/javascript" src='scripts/controller.js'></script>
  <script type="text/javascript" src='scripts/service.js'></script>
</head>

<body ng-app='myPortfolio'>
  <div style="height:100%;" ng-controller="portfolioController">
      <md-sidenav class="md-sidenav-left md-whiteframe-z2 small-nav" md-component-id="left">

        <span ng-click="toggleSidenav()" layout="row" layout-align="end start">
          <i class="fa fa-angle-double-left fa-2x"></i>
        </span>

        <span hide-md show-gt-md layout="row" layout-align="center center" class="nav-item">
          <a href='#/home'></a>
          <i class="fa fa-home fa-3x"></i>
          <md-tooltip md-direction="right">
            Home
          </md-tooltip>
        </span>

        <a hide-md show-gt-md layout="row" layout-align="center center" class="nav-item"href='#/portfolio'>
          
          <i class="fa fa-paint-brush fa-3x"></i>
          <md-tooltip md-direction="right">
            Portfolio
          </md-tooltip>
        </a>

        <a hide-md show-gt-md layout="row" layout-align="center center" class="nav-item" href='#/about'>
          <i class="fa fa-user fa-3x"></i>
          <md-tooltip md-direction="right">
            About
          </md-tooltip>
        </a>

        <span hide-md show-gt-md layout="row" layout-align="center center" class="nav-item">
          <a href='#/contact'></a>
          <i class="fa fa-phone fa-3x"></i>
          <md-tooltip md-direction="right">
            Contact
          </md-tooltip>
        </span>

      </md-sidenav>
      <md-content flex class="md-padding bg">
        <span ng-click="toggleSidenav()">
          <i class="fa fa-bars fa-2x"></i>
          <md-tooltip md-direction="bottom">
            Menu
          </md-tooltip>
        </span>
        <div layout="column" layout-fill layout-align="top center">

        </div>
        <div ng-view>
        </div>
      </md-content>
  </div>
</body>

</html>
